@import "../../mobile.scss";

.contact {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  @include big-screen {
    gap: 30px;
  }
  @include small-screen {
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 30px;
  }
  @include ipad-only {
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 30px;
  }
  @include mobile-only {
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 30px;
  }
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include big-screen {
      margin-left: 10px;
    }
    @include small-screen {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 50px;
    }
    @include ipad-only {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 50px;
    }
    @include mobile-only {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 70px;
    }

    h1 {
      font-size: 100px;
      @include mobile-only {
        font-size: 36px;
      }
    }
    
    h2{
      
      @include small-screen {
        font-size: 36px;
      }
    }
    
    span {
      font-weight: 300;
      @include small-screen {
        font-size: 20px;
      }
    }
  }
  .formContainer {
    flex: 1;
    @include small-screen {
      padding: 20px;
      width: 100%;
    }
    @include ipad-only {
      padding: 20px;
      width: 100%;
    }
    @include mobile-only {
      padding: 20px;
      width: 100%;
    }
    position: relative;
    .phone {
      position: absolute;
      margin: auto;
      stroke: #fdc93a;
      z-index: -1;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
        @include mobile-only {
          padding: 10px;
        }
      }

      button {
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;
        &:disabled {
          cursor: not-allowed;
          background-color: gray;
        }
      }
    }
  }
}
