@import "../../mobile.scss";

.navbar {
  height: 100px;

  .wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    span {
      img {
        width: 40px;
        @include small-screen {
          display: none;
        }
        @include ipad-only {
          display: none;
        }
        @include mobile-only {
          display: none;
        }
      }
    }
    .social {
      display: flex;
      gap: 20px;
      list-style: none;
      img {
        width: 30px;
      }
    }
  }
}
